/** CSS STYLE **/
:root {
  --header-height: 68px;
  --white: #fff;
  --dark: #303846;
  --light-green: #49a070;
  --black: #000;
  --light: #f7f7f7;
}

h2 {
  font-size: 1.8em;
}

.container {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.font-bold {
  font-weight: bold;
}

.font-size-1-5 {
  font-size: 1.5em;
}

body {
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.display-flex {
  display: flex;
}

.w-25 {
  width: 25%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-space-around {
  justify-content: space-around;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-left-5 {
  margin-left: 5rem;
}

.margin-left-3 {
  margin-left: 3rem;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-5 {
  padding: 5rem;
}

.padding-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-y-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #303846;
}

.text-align-center {
  text-align: center;
}

.background-color-gray {
  background-color: #f7f7f7;
}

.link-without-decoration {
  text-decoration: none;
}

/* grid */
.col-4 {
  flex: 0 0 30%;
  max-width: 30%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer-logo,
.nav-logo {
  width: 35px;
  height: 35px;
}

.nav-items {
  display: flex;
}

.nav-item {
  padding: 15px;

  color: #303846;
  font-weight: bold;
  text-decoration: none;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-jumbotron {
  background-image: url("../images/banner.png");
  background-position: center;
}

.big-logo {
  width: 150px;
  height: 150px;
}

.header-fixed {
  position: fixed;
  top: 0;
}

.margin-top-main {
  margin-top: var(--header-height);
}

.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: var(--header-height);

  background-color: var(--white);
}

.header-name {
  margin-bottom: 10px;
}

.header-description {
  text-align: center;
}

.btn {
  padding: 15px;

  text-decoration: none;

  border-radius: 10px;
}

.btn-outline-white {
  color: var(--white);

  background-color: transparent;

  border: 1px solid var(--white);
}

.btn-outline-white:hover {
  color: var(--dark);

  background-color: var(--white);
}

.btn-outline-green {
  color: var(--light-green);

  background-color: transparent;

  border: 1px solid var(--light-green);
}

.btn-outline-green:hover {
  color: var(--white);

  background-color: var(--light-green);
}

.section-image {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.issue-form {
  width: 500px;
}

.fieldset-issue {
  margin-top: 15px;
  margin-bottom: 15px;

  color: var(--light-green);

  border-color: var(--light-green);
}

.field {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.issue-input,
.issue-select {
  width: 150px;
  padding: 3px 5px;

  border: 1px solid var(--black);
  border-radius: 6px;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;

  background-color: var(--dark);
}

.about-section {
  background-color: var(--light);
}
